{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PAGE-LOGIN</title>
    <link rel="stylesheet" href="{% static 'app1/css/login.css' %}">
  </head>
  style
  <body>
    <h1>
      <u><b> !!! LOGIN PAGE !!!</b></u>
    </h1>
    <br /><br /><br />
    <div class="loginContainer">
      <form action="" method="post">
        {% csrf_token %}

        <br />
        <label for="fname">FirstName :</label>
        <input
          type="text"
          name="fname"
          id="fname"
          placeholder="FirstName"
          required /> <br /><br />
       
        <label for="lname">LastName :</label>
        <input
          type="text"
          name="lname"
          id="lname"
          placeholder="Last Name"
          required
        /><br /><br />
        <label for="dob"
          >&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DOB:</label
        >
        <input
          type="date"
          name="dob"
          id="dob"
          placeholder="Enter Date Of Birth"
          required/><br /><br />
        <label for="email"
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email:</label
        >
        <input
          type="email"
          name="email"
          id="email"
          placeholder="abc@gmail.com"
          required/><br /><br />
        <label for="password">password :</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password Here"
          required/><br /><br />

        <input class="date-input" type="submit" value="SUBMIT FORM" />
      </form>
      <br />
      <a href="{% url 'index'%}">Back To Home</a>
      <!-- here index is a function name -->
    </div>
  </body>
</html>
