
      * {
        padding: 0;
        margin: 0;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      html {
        height: 100%;
      }
      body {
        background-color: bisque;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .container {
        color: rgb(248, 248, 248);
        background-color: rgb(11, 70, 134);
        height: 300px;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        border-radius: 20px;
      }
      a {
        text-decoration: none;
        color: #24baf1;
      }
      a:hover {
        color: rgb(207, 201, 34);
      }
    