
      * {
        padding: 0;
        margin: 0;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      html {
        height: 100%;
      }
      body {
        height: 100%;
        background-color: bisque;
        text-align: center;
        color: #340808;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
      .loginContainer {
        height: 500px;
        width: 60%;
        background-color: rgb(68, 132, 201);
        border-radius: 20px;
      }
      input {
        height: 60px;
        width: 80%;
        border-radius: 5px;
        border: none;
        text-align: center;
        
      }
      input[type="submit"] {
        width: 100px;
        height: 50px;
        background-color: green;
        color: aliceblue;
      }

      a {
        text-decoration: none;
        color: #802218;
      }
      a:hover {
        color: rgb(207, 201, 34);
        text-decoration: underline;
      }
