
      * {
        padding: 0;
        margin: 0;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      html {
        height: 100%;
      }
      body {
        /* background-color: bisque; */
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../images/background.jpg);
        background-size: cover;/* Makes the background image cover the entire element */
        background-position: center;/* The center of the image is always aligned with the center of the viewport*/
       
        }
      .container {
        color: rgb(248, 248, 248);
        background-color: rgb(11, 70, 134);
        height: 300px;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        border-radius: 20px;
      }
      a {
        text-decoration: none;
        color: #24baf1;
      }
      a:hover {
        color: rgb(207, 201, 34);
      }
    